@import url("https://use.typekit.net/joi6cfa.css");

body {
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
}

.newAlbum {
  rotate: -10deg;
}

.scrollDownBtn {
  border: 4.6px solid black;
  border-radius: 12.41px;
  font-size: 30px;
  padding: 16px 32px;
  box-shadow: -10px 10px black;
}

.stickers {
  max-height: 318px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.stickers div {
}

.stickers div img {
  width: 15%;
}

.gap {
  height: 100vh;
}
